@import 'base';
@import 'components';
@import 'pages/whitelist';
@import 'pages/login';
@import 'pages/nav';

//deafult styles
body{
    font-family: $primary-font;
    margin: 0;
    padding: 0;
    background-color: $primary-black;
}

h1, h2 {
    color: $primary-white;
    text-align: center;
}

div {
    font-family:$primary-font;
    color: $primary-white;
    font-size: 1.2em;
    
}

label {
    font-family:$primary-font;
    color: $primary-white;
    font-size: 1.2em;
    font-weight: bold;
}