{% extends 'base.html' %}

{% block head%} <title>Navigation Bar</title>{% endblock %}

{% block body%}
<nav>
    <ul>
        <li><a href="/portfolio">Portfolio</a></li>
        <li><a href="/socials">Socials</a></li>
        <li><a href="/playground">Playground</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="/logout">Logout</a></li>
        {% else %}
            <li><a href="/login">Login</a></li>
        {% endif %}
        {% if current_user.admin %}
            <li><a href="/admin/whitelist">Admin Page</a></li>
            {% endif %}
    </ul>
</nav>
{% endblock %}