{% extends 'base.html' %}

{% block head%} <title>Socials</title>{% endblock %}

{% block body%}
<soc>
    <ul>
        <li><a href="mailto:g3kerem@gmail.com">email</a></li>
        <li><a href="https://www.linkedin.com/in/keremguc">linkedin</a></li>
        <li><a href="https://github.com/XmG3">github</a></li>
        <li><a href="https://www.instagram.com/guckerem/">instagram</a></li>
        <li><a href="https://at.pinterest.com/guckerem/">pinterest</a></li>
        <li><a href="/nav">return to nav</a></li>

    </ul>
</soc>
{% endblock %}